@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
   --black: #000;
   --white: #ffff;
   --gray: #949494;
   --yellow: #F1BD35;
   --red: #e74c3c;
   --blue: #2926c786;
   --light-blue: #ADD8E6;
   --border:.2rem solid var(--yellow);
   --border1:.2rem solid var(--red);
   --border2: .3rem solid var(--light-blue);
   --box-shadow: 0rem 0rem 1rem .3rem rgba(0, 0, 0, 0.1);
   --background: #eeee;
}

*{
   font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--blue);
 }
 
 ::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }

 ::-webkit-scrollbar-track{
    background-color: var(--white);
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--black);
 }
/* For screens smaller than 600px */
@media (max-width: 600px) {
   /* Add your styles here */
 }
 
 /* For screens between 600px and 900px */
 @media (min-width: 600px) and (max-width: 900px) {
   /* Add your styles here */
 }
 
 /* For screens larger than 900px */
 @media (min-width: 900px) {
   /* Add your styles here */
 }
 
 html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 10rem;
 }

body{
   background-color: var(--background);
}

section{
    padding:1rem 10%;
}

/* Header Start */
.header{  
   position: sticky;
   top:0; left:0; right:0;
   background:var(--yellow);
   box-shadow: var(--box-shadow);
   padding: 1rem;
   z-index: 1000;
   align-items: center;
   justify-content: space-between;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   margin-bottom: -3em;
   margin-top: -4em;
}

.header .flex .navbar a{
   font-size: 1.8rem;
   border-radius: .5rem;
   padding:.5rem 1.5rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   color:var(--white);
   background: var(--yellow);
   text-decoration: underline;
}

.header .flex .icons > *{
   cursor: pointer;
   margin-left: 2rem;
   line-height: 5rem;
   text-align: center;
   font-size: 2rem;
   color:var(--black);
}
/* Header End */

/* Profile Start */
.header .flex .profile{
   background: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 2rem;
   text-align: center;
   text-transform: capitalize;
   position: absolute;
   top:100%; right:10%;
   width: 23rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile img{
  margin-top: 1.5rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: var(--black);
}

.header .flex .profile .name{
   font-size: 1.8rem;
   color:var(--black);
   margin-top: 1rem;
   margin-bottom: 1rem;
}
/* Profile End */

/* View Pofile Start */
.view-profile{
   min-height: 91vh;
}

.view-profile .user{
   border-radius: 2rem;
   max-width: 35%;
   box-shadow: var(--box-shadow);
   background: var(--white);
   padding: 3rem;
   margin: 5rem auto;
   text-align: center;
}

.view-profile .user h1{
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
   margin-bottom: 3rem;
   text-align: center;
}

.view-profile .user img{
   width: 16rem;
   height: 16rem;
   border-radius: 50%;
   margin-bottom: 3rem;
   border: var(--black);
}

.view-profile .user h2{
   line-height: 1.5;
   font-size: 2rem;
}

.view-profile .user p{
   padding: 1.5rem 0;
   line-height: 1.5;
   font-size: 1.8rem;
}

.view-profile form{
   text-align: center;
   align-items: center;
}
/* View Profile End */

/* View Reservation Start */
.reservation-v{
   min-height: 91vh;
}

.reservation-display{
   margin-top: 3rem;
   width: 100%;
   margin-bottom: 6rem;
}  

.reservation-display .reservation-display-table{
   width: 100%;
   border-collapse: separate;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.reservation-display .reservation-display-table thead th{
   font-size: 1.5rem;
   padding: 1rem;
   text-align: center;
   background: var(--light-blue);
}
.reservation-display .reservation-display-table td{
   border-bottom: var(--border2);
}

.reservation-display .reservation-display-table input {
   text-transform: lowercase;
   height: 5rem;
   width: 100%; 
   padding: .5rem;
   font-size: 1.3rem;
   text-align: center;
}

.reservation-display .reservation-display-table select {
   height: 3rem;
   width: 100%; 
   padding: .5rem;
   font-size: 1.3rem;
   text-align: center;
   border-radius: 1rem;
}

.reservation-display .reservation-display-table thead th:hover, 
.reservation-display .reservation-display-table input:hover{
   color: var(--yellow);
} 
/* View Reservation End */

/* Title Start */
.title{
   margin-top: 5rem;
   margin-bottom:3rem;
   text-align: center;
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
}

.title:hover{
   color:var(--yellow);
   letter-spacing: .1rem;
}
/* Title End */

/* Pagination */

.pagination {
   display: flex;
   justify-content: center;
   float: right;
   font-size: 1.4rem;
   margin-bottom: 1rem;
  
}

.pagination a {
   display: inline-block;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: #f2f2f2;
   color: #333;
   margin: 0 5px;
   text-decoration: none;
}

.pagination a:hover {
   background-color: #333;
   color: #fff;
}

.pagination .pages {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

.pagination .pages li {
   margin: 0 5px;
}

.pagination .pages li a {
   display: inline-block;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: #f2f2f2;
   color: #333;
   text-decoration: none;
}

.pagination .pages li.active a {
   background-color: #333;
   color: #fff;
}
/* pagination end*/


/* Home Start */
.home{
   min-height: 100vh;
   background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/d7-front.jpeg) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content{
   text-align: center;
   width: 75em;
}

.home .content h3{
   font-size: 5.5rem;
   color:var(--white);
   text-transform: uppercase;
}

.home .content p{
   font-size:1.8rem;
   color:var(--white);
   padding:1rem 0;
   line-height: 1.5;
}
/* Home End */

/* Promos & Gallery Start */

.gallery, .promos {
   min-height: 91vh;
}

.swiper {
   margin: 3rem;
   width: 72%;
   height:65rem;
   border-radius: 2rem;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .swiper-horizontal {
   height: 60%;
 }
 .swiper {
   margin-left: auto;
   margin-right: auto;
 }
/* Promos & Gallery End */

/* Services Start */

.services{
   min-height: 91vh;
}

.services .box-container  .box {
   margin-top: 3rem;
   border-radius: 2rem;
}

.services .box-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
   gap: 4rem;
   margin-bottom: 2rem;
 }
.services .box-container .box {
   text-align: center;
   background: var(--white);
   box-shadow: var(--box-shadow);
   padding: 3rem 3rem;
 }
 
.services .box-container .box:hover {
   background: var(--yellow);
   transform: translateY(-2em);
   transition: all ease 0.2s;
   box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
 }
 
.services .box-container .box:hover h3 {
   color: var(--white);
 }
 
.services .box-container .box:hover p {
   color: var(--white);
 }
 
.services .box-container .box img {
   height: 10rem;
   margin-bottom: .5rem;
 }
 
.services .box-container .box h3 {
   font-size: 2rem;
   text-transform: capitalize;
   color: var(--black);
   padding: 1rem 0;
 }
 
.services .box-container .box p {
   font-size: 1.8rem;
   line-height: 2;
   color: var(--light-color);
 }
/* Services End */

/* FAQs Start */
.faqs{
   min-height: 91vh;
}

.faqs .row{
   display: flex;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 6rem;
}

.faqs .row .faq{
   width: 100%;
}

.faqs .row .faq .box{
   border-radius: 2rem;
   box-shadow:  var(--box-shadow);
   margin-top: 2rem;
   background: var(--white);
}



.faqs .row .faq .box h3{
   background-color: var(--white);
   color: var(--black);
   padding: 2.2rem;
   font-size: 1.8rem;
   border-radius: 2rem;
   cursor: pointer;
   text-align: center;
   border-bottom: var(--border);
}

.faqs .row .faq .box h3:hover{
   color: var(--white);
   background: var(--yellow);
}

.faqs .row .faq .box p{
   padding:1.5rem 2rem;
   line-height: 2;
   font-size: 1.5rem;
   color: var(--gray);
   display: none;
   text-align: justify;
}

.faqs .row .faq .box.active p{
   display: inline-block;
}





/* FAQs end */

/* chat */
.chat {
   color: white;
   font-size: 5rem;
   background-color: blue;
   text-align: center;
   border: 1px solid blue;
   border-radius: 3rem;
   width: 7.8rem;
   position: fixed;
   right: 4%;
   bottom: 10%;
   box-shadow: var(--box-shadow);
   z-index: 999;
  
}

.chat:hover {
   color: blue;
   background-color: white;
   transition: all 1s;
   border: .7px solid white;
   cursor: pointer;
}

.chat i {
   color: var(--white);
   height: 7rem;
padding: 1rem;
}

/* D7Cares Start  */

.d7cares-comm {
   font-size: 1.7rem;
   width: 50%;
   text-align: center;
   margin: auto auto;
}

.img-comm img {
   width: 30%;
   float: right;
   margin-left: 10px;
}

.title-comm{
   margin-top: 5rem;
   margin-bottom:3rem;
   text-align: center;
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
}


.thread-view-namedate {
   position: relative;
   bottom:1.5rem;
   opacity: 0.7;
   font-size: 1.4rem;
}
.d7cares{
   min-height: 91vh;
}

.d7cares .box-container  .box {
   margin-top: 3rem;
   border-radius: 2rem;
   font-size: 1.7rem;
   max-height: 15rem;
}

.d7-thread-desc {
   position: relative;
   margin: 0 auto;
   word-break: break-all;
   width: 80%;
   max-height: 6rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding-right: 1rem;
   float: left;
}


.d7cares .box-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(60rem, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
   gap: 4rem;
   margin-bottom: 2rem;
 }
.d7cares .box-container .box {
   text-align: left;
   background: var(--white);
   box-shadow: var(--box-shadow);
   padding: 3rem 3rem;
   max-height: 16rem;
 }
 
.d7cares .box-container .box:hover {
   background: var(--yellow);
   transform: translateY(-2em);
   transition: all ease 0.2s;
   box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
 }
 
.d7cares .box-container .box:hover h3 {
   color: var(--white);
 }
 
.d7cares .box-container .box p {
   color: var(--white);
   display: inline;
 }

 .d7cares .box-container .box span {
   display: inline;
 }
 
.d7cares .box-container .box img {
   height: 10rem;
   margin-bottom: .5rem;
   float: left !important;
   max-width: 300px;
   max-height: 300px;
   margin-right: 1em;
 }
 
.d7cares .box-container .box h3 {
   font-size: 2rem;
   text-transform: capitalize;
   color: var(--black);
   padding: 1rem 0;
 }
 
.d7cares .box-container .box p {
   font-size: 1.8rem;
   line-height: 2;
   color: var(--light-color);
 }

 .d7-thread-desc {
   font-size: 2rem;
 }


/* modal - customer */

.comment {
   font-size: 1.6rem;
   font-weight: 800;
   padding: 0;
   position: relative;
   top: 1rem;
 }

.box-thread {
   background:var(--background);
   padding: 1rem;
   border-radius: 1rem;

}


.box-thread-reply {
   background:var(--white);
   padding: 1rem;
   border-radius: 1rem;
   margin-top: 1rem;

}

.box-reply {
   background:var(--background);
   padding: 1rem;
   border-radius: 1rem;
   margin-top: 1.2rem;
}


.profile_pic_admin {
   width: 60px;
   height: 60px;
   border-radius: 50%;
}

.profile_pic_reply {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   float: left;
   margin-right: 1rem;
}



.profile_pic {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   float: left;
}


.see-thread-title {
   font-size: 2rem;
   position: relative;
   top: 6rem;
   right: 4rem;
}

.see-thread-desc {
   display: inline-block;
   text-align: left;
   position: relative;
   bottom: 0;
   margin: .5rem auto;
   padding: .7rem;
   font-size: 2rem;
}

.see-thread-name {
   display: inline-block;
   position:relative;
   left: 1rem;
   bottom: 3.8rem;
   margin-right: 0.7rem;
   font-size: 2rem;
}

.see-thread-date {
   display: inline-block;
    position: relative;
    bottom: 1.8rem;
    right: 12rem;
    opacity: 0.7;
    font-size: 1.5rem;
}

.see-thread-reply-name {
   position: relative;
   top: 0;
   font-size: 1.7rem;
}

.see-thread-reply-datetime {
   position: relative;
   bottom: 0;
   display: block;
   font-size: 1.3rem;
   
}

.see-thread-reply-desc {
    position: relative;
    margin: 1rem auto;
    color: var(--black);
    font-size: 1.5rem;
}


/* Reminder Start */
.reminder {
   font-size: 11pt; 
   color: var(--red);
   float: left;
   text-align: left;
}

/* Reminder End */
 /* Search Start */

 
 .search-container {
   display: flex;
   float: left;
   position: relative;
   margin-bottom: 3rem;
   width: 30rem;
 }
 
 .search-box {
   font-size: 1.3rem;
   padding: 1rem;
   width: 30rem;
   border-radius: 1rem;
 }
 
 .btn-search {
   font-size: 1.3rem;
   background: #0622ED;
   color: var(--white);
   padding: 1rem;
   border-radius: 1rem;
   position: absolute;
   right:0;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
 }
 
 /* Search End*/



/* D7Cares End  */

/* About Us Start */
.about{
   min-height: 91vh;
}

.about .row{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin: 3rem;
   flex-wrap: wrap;
}

.about .row .image{
   flex:1 1 45rem;
}

.about .row .image img{
   width: 75rem;
   height: 75rem;
   border-radius: 25%;
   padding: 5em;
   margin-left: 19em;
   margin-right: 1em;

}

.about .row .content{
   text-align: center;
   flex:1 1 40rem;
}

.about .row .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: capitalize;
}

.about .row .content h3:hover{
   color: var(--yellow);
   letter-spacing: .2rem;
}

.about .row .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.8rem;
   color:var(--black);
}

/* About Us End */



/* Form Start */
.form-container{
   min-height: 91vh;
}

.form-container form{
   border-radius: 2rem;
   margin-top: 5rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5rem;
   max-width: 42%;
   padding: 2.5rem;
   text-align: center;
   background: var(--white);
   box-shadow: var(--box-shadow);
}

.form-container form select{
   text-transform: capitalize;
}

.form-container form .box{
   border-radius: 2rem;
   margin: 1rem 0;
   width: 100%;
   padding:1.5rem;
   font-size: 1.5rem;
   background:var(--background);
}

.form-container form .images{
   border-radius: 2rem;
   margin: 1rem 0;
   width: 25%;
   padding: .5rem;
   text-align: center;
   font-size: 3rem;
   background:var(--background);
}

.form-container form h1{
   font-size: 3rem;
   text-align: center;
   color:var(--black);
   text-transform: uppercase;
   padding-bottom: 3rem;
}

.form-container form h2{
   font-size: 1.5rem;
   color:var(--black);
   text-align: left;
}

.form-container form h2 span{
  color: #e74c3c;
}

.form-container form .check{
   text-align: right;
}

.form-container form a{
   font-size: 1.5rem;
   color:var(--black);
}

.form-container form a span{
   color:blue;
}

.form-container form a span:hover{
   text-decoration: underline;
}

.form-container form p a:hover{
   color:var(--yellow);
   text-decoration: underline;
}

.form-container form p{
   margin-top: 2rem;
   font-size: 1.5rem;
   color:var(--black);
   text-align: center;
}
/* Form End */

/* Buttons Start */
#menu-btn{
   display: none;
   cursor: pointer;
   margin-left: .5rem;
   height:4.5rem;
   line-height: 4.5rem;
   width:4.5rem;
   text-align: center;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: 50%;
   background: var(--background);
}

.btn-submit{
   display: inline-block;
   font-size: 1.8rem;
   width: 50%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   background: var(--white);
   border: var(--border);
   color:var(--black);
   border-radius: 2rem;
}

.btn-submit:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .2rem;
}

.btn-add{
   display: inline-block;
   font-size: 1.8rem;
   width: fit-content;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   background-color: var(--white);
   border: var(--border);
   color:var(--black);
   border-radius: 2rem;
}

.btn-add:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .1rem;
}


.btn{
   display: inline-block;
   font-size: 1.8rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   background: var(--white);
   border: var(--border);
   color:var(--black);
   border-radius: 2rem;
}

.btn:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .2rem;
}

.delete-btn{
   display: inline-block;
   font-size: 1.8rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   background: var(--white);
   border: var(--border1);
   color:var(--black);
   border-radius: 2rem;
}

.delete-btn:hover {
   color: var(--white);
   background: var(--red);
   letter-spacing: .2rem;
}

.btn-delete{
   display: inline-block;
   font-size: 1.8rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   background: var(--white);
   border: var(--border1);
   color:var(--black);
   border-radius: 2rem;
}

.btn-delete:hover {
   color: var(--white);
   background: var(--red);
}

.profile-btn{
   display: inline-block;
   font-size: 1.5rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .3s ;
   background: var(--white);
   color:var(--black);
   border-radius: 2rem;
   
}

.profile-btn:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .1rem;
}

.logout-btn{
   display: inline-block;
   font-size: 1.5rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .3s ;
   background: var(--white);
   color:var(--black);
   border-radius: 2rem;
   
}

.logout-btn:hover {
   color: var(--white);
   background: var(--red);
   letter-spacing: .1rem;
}



.tour-btn {
   color: #ffffff; 
   font-size:20px;
   cursor: pointer;
   font-weight: bolder;
}

.tour-btn:hover {
   text-decoration: underline;
   transition: ease-out 0.2s;
   letter-spacing: .2rem;

}

.btn-booknow {
   display: inline-block;
   font-size: 1.8rem;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   border: var(--border);
   max-width: 28%;
   border-radius: 1rem;
   background-color: transparent;
   color: #fff;
}

.btn-booknow:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .2rem;
}


.write-btn {
   font-size: 2rem;
   width: fit-content;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ;
   border: none;
   color:var(--white);
   margin-right: 1rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   position: fixed;
   display: block;
   background-color: royalblue;
   left: 3em;
   float: right;
   opacity: 1;
   border-radius: 50%;
   top: 25rem;
 }

 .write-btn i {
   font-size: 3rem;
 }

 .write-btn:hover {
   background: var(--yellow);
   transition: all 0.4s;
  
 }


/* Style the dropdown button */
.dropbtn3 {
   background-color: transparent;
   color: #666;
   font-size: 16px;
   border: none;
   cursor: pointer;
   position: relative;
   bottom: 5rem;
   margin-right: 1rem;
   float: right;
 }

 
 /* Style the dropdown content */
 .dropdown-content3 {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: .5rem;
   font-size: 1.23rem;
   bottom: 0;
   right: 0;
 }

 /* Style the links inside the dropdown */
 .dropdown-content3 a {
   color: #666;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content3 a:hover {
   background-color: #f1f1f1;
 }
 
 /* Show the dropdown menu on hover  */
 .dropdown3:hover .dropdown-content3 {
   display: block;
   position: absolute;

 }
 /* Dropdown Filter Start */

 .dropdown select {
   height: 3rem;
   width: 100%; 
   padding: 0;
   font-size: 1.3rem;
   text-align: center;
   border-radius: 1rem;
}
/* Dropdown Filter End*/
 
 /* Style the dropdown button on hover */

 .dropdown3:hover .dropbtn3 {
   background-color: transparent;
   color: #333;
 }
 
/* Review Dropdown 3 dots Start */


/* Style the dropdown button */
.r-dropbtn3 {
   background-color: transparent;
   color: #666;
   font-size: 16px;
   border: none;
   cursor: pointer;
   position: relative;
   margin-right: 1rem;
   float: right;
   left: 3rem;
 }
 
 /* Style the dropdown content */
 .r-dropdown-content3{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: .5rem;
   cursor:pointer;
   right: 3rem;
  
 }
 
 /* Style the links inside the dropdown */
 .r-dropdown-content3 a {
   color: #666;
   text-decoration: none;
   display: block;
   width: 10rem;
   font-size: 1.5rem;
   padding: 1rem;
 }
 
 /* Change color of dropdown links on hover */
 .r-dropdown-content3 a:hover {
   background-color: #f1f1f1;
 }
 
 /* Show the dropdown menu on hover */
 .r-dropdown3:hover .r-dropdown-content3 {
   display: block;
 }
 
 /* Style the dropdown button on hover */
 .r-dropdown3:hover .r-dropbtn3 {
   background-color: transparent;
   color: #333;
 }
 
/* Review Dropdown 3 dots End */

/* Buttons End */

/* Review Start */


.review {
   min-height: 91vh;
}

.review .slide{
   padding:5rem;
   box-shadow:var(--box-shadow);
   border: var(--yellow);
   border-radius: .5rem;
   position: relative;  
   background: var(--white);
   flex-shrink: 1;
   margin-right: 2em;
   min-height: 50rem;
   max-height: 50rem;
   min-width: 50rem;
   max-width: 50rem;
   overflow-x: hidden;
 
}
.review .swiper-slide {
   width: 100%;
   margin-right: 30px;
}
.review .slide .fa-quote-right{
   position: absolute;
   top:2rem; right:2rem;
   font-size: 6rem;
   color:#ccc;
}

.review .slide .user{
   display: flex;
   gap:1.5rem;
   align-items: center;
   padding-bottom: 1.5rem;
}

.review .slide .user img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.review .slide .user h3{
   color:var(--black);
   font-size: 2rem;
   padding-bottom: .5rem;
}

.review .slide .user i{
   font-size: 1.5rem;
   color:var(--gray);
}

.review .slide p{
   font-size: 1.5rem;
   line-height: 1.8;
   color:var(--black);
   text-align: left;
}

.review .write{
   margin-top: 2rem;
   text-align: center;
   margin-bottom: 2rem;
}


.stars {
   margin-right:9em;
}

 
select.box-star {
   border-radius: 2rem;
   margin: 1rem auto;
   width: 100%;
   padding:1.5rem;
   font-size: 2.5rem;
   background:var(--background);
   color: var(--yellow); 
   justify-content: center;

 }

option[value="1"] {
   color: var(--black); 
}

option[value="2"] {
   color: var(--black); 
}

option[value="3"] {
   color: var(--black); 
}

option[value="4"] {
   color: var(--black); 
}

option[value="5"] {
   color: var(--black); 
}


/* Review End */

/*
.menu-nav { 
   display: flex;
   justify-content: space-between;
   bottom: 7em;
 }
 
.three-dots:after {
   cursor: pointer;
   color: var(--black);
   content: '\2807';
   font-size: 20px;
   padding: 0 5px;
   position: relative;
   bottom: 1em;
}

*/


/* Footer Start */ 
.footer {
   background-color: var(--white);
 }

.footer .grid{
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 5.43rem;
}

.footer .grid .box h3{
   font-size: 1.8rem;
   color:var(--black);
   padding: 2rem 0;
}

.footer .grid .box a{
   display: block;
   font-size: 1.5rem;
   color:var(--gray);
   padding: 1rem 0;
}

.footer .grid .box a i{
   padding-right: .5rem;
   color:var(--yellow);
}

.footer .grid .box a:hover i{
   padding-right:1rem;
}

.credit{
   margin-top:1rem;
   padding: 1rem;
   text-align: center;
   font-size: 1.5rem;
   color:var(--black);
   border-top: var(--border)
}

.credit span{
   color:var(--yellow);
}
/* Footer End */ 

/* Alert Start */
.alert {    
   padding: 1rem;
   border-radius: .5rem;
   color:var(--white);
   margin: 1rem auto;
   font-size: 2rem;
   text-align: center;
}

.alert-success {
   background-color: #42ba96;
   display: block;
}

.alert-danger {
   background-color: #fc5555
}

.alert-info {
   background-color: #2E9AFE;
}

.alert-warning {
   background-color: #ff9966;
}

.btn-close-alert {
   font-size: 2rem;
}


.alert-style {
   width: 25%;
   margin: auto auto;
   position: fixed;
   top: 40%;
   left: 40%;
   transition: opacity 0.5s ease-in-out;
  justify-content: center;
  z-index: 999;
}

.alert-style i {
   color: var(--white);
   font-size: 2rem;
   margin-left: 1.7rem;
}

.alert-style.hide {
   opacity: 0;
}
/* Alert End */

.empty{
   margin-top: 3rem;
   margin-bottom: 3rem;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 3rem;
   text-transform: capitalize;
   color:var(--red);
}

.dropbtn {
   font-size: 1.5rem;
   width: 100%;
   padding: 1.5rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .3s ;
   background: var(--white);
   color: var(--black);
   border-radius: 2rem;
   display: block;
 }

.dropbtn:hover {
   color: var(--white);
   background: var(--yellow);
   letter-spacing: .1rem;
 }
 
.dropdown-content {
   display: none;
   background:var(--background)
 }

.dropdown-content a {
   font-size: 1.5rem;
   color: #000;
 }

 .dropdown-content a:hover {
   color: var(--white);
   background: var(--yellow);
   width: 100%;
 }


.show {
   display: block;
}

/* Modal Start */

.modal-customer {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 .modal-content-customer {
   background: var(--white);
   margin: 15% auto; /* 15% from the top and centered */
   padding: 50px;
   width: 54%; /* Could be more or less, depending on screen size */
   justify-content: center;
   border: 1px solid var(--yellow);
   box-shadow: var(--box-shadow);
   border-radius: 2rem;
}
.modal-customer .modal-content-customer h1{
   margin: 0 auto;
   font-size: 3rem;
}

.modal-customer .modal-content-customer .box{
   width: 100%;
   background: var(--background);
   margin: 1rem auto;
}

.modal-customer .modal-content-customer textarea{
   width: 100%;
   background: var(--background);
   margin: 1rem auto;
}

 /* Close button */
 .close {
   color: var(--black);
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }



 .modal-admin {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 .modal-content-admin {
   background: var(--white);
   margin: 15% auto; /* 15% from the top and centered */
   padding: 50px;
   width: 54%; /* Could be more or less, depending on screen size */
   justify-content: center;
   border: 1px solid var(--yellow);
   box-shadow: var(--box-shadow);
   border-radius: 1em;
}
.modal-admin .modal-content-admin h1{
   margin: 2% auto;
   font-size: 3rem;
}


.modal-admin .modal-content-admin textarea{
   width: 100%;
   background: var(--background);
   margin: 1rem auto;
}

 /* Close button */
 .close {
   color: var(--black);
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

/* Modal End */


/* Disclaimer  Start*/

.reminder {
   font-size: 1.2rem; 
   color: var(--red);
   float: center;
  
}

/* Disclaimer End */


/*Stats Table Display Start */

.stats-display{
   margin-top: 3rem;
   width: 100%;
   margin-bottom: 6rem;
}  

.stats-display .stats-display-table{
   width: 100%;
   border-collapse: separate;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
}

.stats-display .stats-display-table thead th{
   font-size: 1.5rem;
   padding: 1rem;
   text-align: center;
   background: var(--light-blue);
}
.stats-display .stats-display-table td{
   border-bottom: var(--border2);
}

.stats-display .stats-display-table input {
   text-transform: capitalize;
   height: 5rem;
   width: 100%; 
   padding: .5rem;
   font-size: 1.3rem;
   text-align: center;
}

.stats-display .stats-display-table thead th:hover, 
.stats-display .stats-display-table input:hover{
   color: var(--yellow);
} 

/*Stats Table Display End */




@media (max-width:1050px) {

   html{
      font-size: 50%;
    }

    section{
      padding:1rem 5%;
     }

    #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   .header .flex .navbar{
      position: absolute;
      padding: 1%;
      border-radius: .5rem;
      background: var(--text-color2);
      width: 25%;
      text-align: center;
      top:120%; left: 5%; right:0;
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar a{
      display: block;
      padding: 2rem;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .profile{
      margin-right: -5%;
   }
}
 
@media (max-width:760px){
   
   section{
      padding:1rem 0%;
   }
 
   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }
 
   .header .flex .navbar{
      position: absolute;
      padding: 1%;
      border-radius: .5rem;
      background: var(--text-color2);
      width: 25%;
      text-align: center;
      top:120%; left: 0; right:0;
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
 
   .header .flex .navbar a{
      display: block;
      padding: 2rem;
   }
 
   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .profile{
      margin-right: -10%;
    }
 }

 @media (max-width:450px){
   
   section{
      padding:1rem 0%;
   }
 
   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }
 
   .header .flex .navbar{
      position: absolute;
      padding: 1%;
      border-radius: .5rem;
      background: var(--text-color2);
      width: 100%;
      text-align: center;
      top:120%; left: 0; right:0;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }
 
   .header .flex .navbar a{
      display: block;
      padding: 2rem;
   }
 
   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
 }
